.App {
  text-align: center;
}

.App-logo {
  opacity: 1;
  height: 40vmin;
  pointer-events: none;
}

.app-background {
  background-image: url("./images/golden-dome.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.App-header {
  opacity: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.github-logo {
  display:block;
  width:200px;
  height:39px;
  margin-top:10px;
  background-repeat: no-repeat;
  background-image:url('logo.svg');
}